<html lang="en">

<head>
    <title>Menu Alerts</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <main class="main-content">
        <%- include('partials/nav') %>
            <h3>Featured Items</h3>
            <div class="specialsMenu">
                <% specialData.forEach((restaurant)=> { %>
                    <h4>
                        <%= restaurant.name %>
                    </h4>
                    <% if (restaurant.specials.length> 0) { %>
                        <ul>
                            <% restaurant.specials.forEach((special)=> { %>

                                <li>
                                    <p>
                                        <%= special.name %> - $<%= special.price %>
                                    </p>
                                </li>

                                <% }) %>
                        </ul>

                        <% } else { %>
                            <ul>
                                <li>
                                    <p>No specials currently!</p>
                                    <% } %>
                                </li>
                            </ul>
                            <% }); %>
            </div>
            <%- include('partials/footer') %>
    </main>
</body>

</html>